.about {
    max-width: 90%;
}

h1 {
  font-size: 52px;
  margin-bottom: 3%;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 5% 0 10px;
}

hr {
  width: 60%;
  margin: 0 auto 3%;
  border: 1px solid black;
  opacity: 1;
}

h4, h5 {
  margin-left: 25px;
  margin-top: 2%;
}

h5 {
  margin-left: 50px;
  margin-bottom: 10px;
}

.roles {
  margin: 0 15% 1% 8%;
  line-height: 1.6;
}

.degrees {
  font-size: 20px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 1%;
}

.dates {
  text-align: end;
    margin-top: auto;
    margin-bottom: auto;
  padding-right: 5%;
  font-size: 16px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.job-card {
    width: 80%; /* fixed width */
    aspect-ratio: 1 / 1; /* keeps it square */
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    
}

.job-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.job-dates {
  margin-bottom: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.work_img {
  max-width: 70%;
  height: auto;
  margin-top: 10px;
}

.linkbutton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.linkbutton a {
  text-decoration: none;
  color: black;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}
